@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Public Sans', sans-serif;
  font-size: 18px;
}

@layer components {
  .social-icon:hover path {
    @apply fill-eb-lime-green transition-colors;
  }
}

@layer utilities {
  .bg-eb-gradient {
    @apply bg-gradient-to-r from-eb-lime-green to-eb-bright-cyan;
  }
}

.image-background {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-image: url('./assets/bg-intro-mobile.svg');
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  transform: translateY(-35%);
}

.image-foreground {
  position: absolute;
  top: 0;
  right: 50%;
  height: 100%;
  width: 95%;
  background-image: url('./assets/image-mockups.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(50%, -30%);
}

/* For iPhone 5/5S/SE/etc */
@media (max-height: 640px) and (max-width: 360px) {
  .image-background,
  .image-foreground {
    display: none;
  }
}

@media (min-width: 640px) {
  .image-foreground {
    transform: translate(50%, -40%);
  }
}

@media (min-width: 768px) {
  .image-background {
    transform: translateY(-40%);
  }

  .image-foreground {
    transform: translate(50%, -40%);
  }
}

@media (min-width: 1024px) {
  .image-background {
    background-image: url('./assets/bg-intro-desktop.svg');
    background-position: 50% 50%;
    transform: translate(42%, -20%);
  }

  .image-foreground {
    right: 0;
    height: 110vh;
    background-position: 95% 50%;
    transform: translate(15%, -10%);
  }
}

@media (min-width: 1536px) {
  .image-background {
    background-position: 50% 52%;
    transform: translate(50%, 0);
  }
}
