@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Public Sans', sans-serif;
  font-size: 18px;
}

@layer components {
  .social-icon:hover path {
    @apply fill-eb-lime-green transition-colors;
  }
}

@layer utilities {
  .bg-eb-gradient {
    @apply bg-gradient-to-r from-eb-lime-green to-eb-bright-cyan;
  }
}

.hero {
  height: max(85vh, 620px);
}

.image-foreground-container {
  height: max(110vh, 800px);
}

.image-background {
  position: absolute;
  top: 0;
  right: 0;
  height: min(50%, 350px);
  width: 100%;
  background-image: url('./assets/bg-intro-mobile.svg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.image-foreground {
  position: absolute;
  top: 0;
  right: 50%;
  height: min(50%, 450px);
  width: 95%;
  background-image: url('./assets/image-mockups.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  transform: translate(50%, -30%);
}

/* For iPhone 5/5S/SE/etc */
@media (min-width: 640px) {
  .image-background {
    height: min(60%, 640px);
  }

  .image-foreground {
    height: min(75%, 800px);
  }
}

@media (min-width: 1024px) {
  .image-background {
    height: min(120%, 1024px);
    background-image: url('./assets/bg-intro-desktop.svg');
    background-position: right;
    transform: translate(45%, -20%);
  }

  .image-foreground {
    right: 0;
    background-position: 95% 50%;
    transform: translate(15%, -10%);
  }
}

@media (min-width: 1280px) {
  .image-background {
    transform: translate(50%, -20%);
  }

  .image-foreground {
    height: 100%;
    transform: translate(10%, -10%);
  }
}
